%h1 Posts#index
= link_to "newしちゃう？", new_post_path
.post
  - @posts.each do |post|
    .post_item
      .post_title
        = link_to post.title, post_path(post)
        .post_edit
          - if !post.public
            xx非公開xx
          = link_to "", edit_post_path(post), class: "fas fa-edit"
          = link_to "", post_path(post), method: :delete, class: "fas fa-trash"
      .post_content
        = simple_format post.content
      .post_date
        = post.updated_at.strftime("%Y/%m/%d %H:%M:%S")
