= form_for @post, remoto: false  do |f|
  .form_item
    = f.label :title
    = f.text_field :title
  .form_item
    = f.label :content
    = f.text_field :content
  .form_item
    = f.label :public
    = f.check_box :public
  .form_item
    = f.submit
