%header
  %nav
    .logo
      = link_to "Sananmeri", root_path
    .menu
      %ul
        %li
          = link_to "投稿（仮）", "#"
        %li
          = link_to "検索（仮）", "#"
        %li
          = link_to "SignIn", user_session_path
        %li
          = link_to "SignUp", new_user_registration_path
        %li
          = link_to "Logout", destroy_user_session_path, method: :delete
        %li
          = link_to "ヘルプ（仮）", "#"
